DATABASE_URL=postgres://postgres:Postgres@localhost:5432/it-connect
PORT=5001
# JWT_SECRET=super_secret_access_key
# JWT_REFRESH_SECRET=super_secret_refresh_key
# JWT_ACCESS_EXPIRES=15m
# JWT_REFRESH_EXPIRES=7d
CLOUDFLARE_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_BUCKET_NAME=it-connect-files
R2_PUBLIC_URL=https://files.itgrads.ru
# Token value - Xs6DQ5B5WRMuKkp9ezo1Bdq0GIzU6ZJkQ0m_N2YT
# Access Key ID - 0c66bf2378a7981173ab048489a49bb3
# Secret Access Key - 8360eccfa83418339e89473fa87e54a626bb06a81ff850d6e81cc7cfef1402dc
# Account ID - 2cb4e15190e61eee764dab27bdb7e2cc