DATABASE_URL=postgres://postgres:Postgres@localhost:5432/it-connect
PORT=5001
# JWT_SECRET=super_secret_access_key
# JWT_REFRESH_SECRET=super_secret_refresh_key
# JWT_ACCESS_EXPIRES=15m
# JWT_REFRESH_EXPIRES=7d